body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  -font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  
  
  background-color:rgb(241, 223, 199);
    


h1 {
  font-size: 1.5rem;
}

div{
  
  width: 200px;
background-repeat: no-repeat;
  background-size: cover;
}
}
h2 {
  color: yellow;
}

p{
  color: blue;
}

button {
  background-color: yellow;
  margin: 10px;
  border-radius: 3px;
}

input {
  color: purple;
}

.about{
  margin-left: 650px;
  border-radius: 50px;
  cursor: pointer;
}